{{ 'category-section.scss' | asset_url | stylesheet_tag }}

<div class="collections">
    <div class="collections__container page-width">
        <div class="collections__wrapper">
            <div class="collections__main-grid flex">
                {%- for block in section.blocks -%}
                    {%- assign collection = block.settings.choose_collection -%}
                        <div class="collections__row-wrap position-reletive">
                            <div class="collections__image border-radius_l">
                                {%- if collection.featured_image != blank -%}
                                <img class="collections_img img" src="{{ collection.featured_image | img_url: 'master'}}" alt="">
                                {%- else -%}
                                    {{ 'product-1' | placeholder_svg_tag }}
                                {%- endif -%}
                            </div>
                            {%- if collection.title != blank -%}
                                <div class="collections__content-wrap flex align-center">
                                    <div class="collections__content-inner">
                                        <h2 class="collections__title uppercase position-absolute ">{{ collection.title }}</h2>
                                        <a href="{{ collection.url }}" class="collections__btn cursor-pointer capitalize border-radius_s position-absolute">Explore Collection</a>
                                    </div>
                                </div>
                            {%- endif -%}
                        </div>
                {%- endfor -%}
            </div>
        </div>
    </div>
</div>

{% schema %}
    {
        "name": "Featured collections",
        "blocks": [
            {
                "type": "collections",
                "name": "Collections",
                "limit": 3,
                "settings": [
                    {
                        "type": "collection",
                        "id": "choose_collection",
                        "label": "Choose collections"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "Featured collections"
            }
        ]
    }
{% endschema %}