{{ 'product-list.css' | asset_url | stylesheet_tag }}
{{ 'section-header.css' | asset_url | stylesheet_tag }}
{{ 'swiper-btn.css' | asset_url | stylesheet_tag }}

{{ 'product-item.css' | asset_url | stylesheet_tag }}
<div class="featured-collection-slider section-swiper-btns">
  <div class="page-width">
    <div class="section-header flex-between">
      {% if section.settings.title != blank  %}
        <h2 class="heading-L section-title uppercase">{{ section.settings.title }}</h2>
        <div class="swiper-buttons flex">
          <div class="swiper-button-prev swiper-button flex flex-center align-center" id="arrowPrev">
            <svg xmlns="http://www.w3.org/2000/svg" width="10" height="16" viewBox="0 0 10 16" fill="none">
              <path d="M9 1L2 8L9 15" stroke="#242424" stroke-width="1.5"/>
            </svg>
          </div>
          <div class="swiper-button-next swiper-button flex flex-center align-center" id="arrowNext" >
            <svg xmlns="http://www.w3.org/2000/svg" width="10" height="16" viewBox="0 0 10 16" fill="none">
              <path d="M1 1L8 8L1 15" stroke="#242424" stroke-width="1.5"/>
            </svg>
          </div>
        </div>
      {% endif %}
    </div>
    <div class="contents-wrapper">
      <div class="wrapper">
        <div js-featured-collection-slider class="featured-slider">
            <div class="swiper-wrapper">
              {% if section.settings.choose_collection != blank %}
                {% for product in collections[section.settings.choose_collection].products %}
                  <div class="swiper-slide">
                    {% render 'product-item' product: product, section: section %}
                  </div>
                {% endfor %}
              {% endif %}
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Collection Slider",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "collection",
        "id": "choose_collection",
        "label": "Choose Collection"
      }
    ],
    "presets":[
      {
        "name": "Collection Slider"
      }
    ]
  }
{% endschema %}
